<div class="modal-overlay" id="refreshModal" role="dialog" aria-modal="true" aria-labelledby="refreshModalTitle">
  <div class="refresh-modal">
    <h3 id="refreshModalTitle">Syncing Pipeline</h3>
    <div class="wizard-progress" id="refreshProgress"><div class="wizard-progress-bar" id="refreshProgressBar"></div></div>
    <div class="wizard-log" id="refreshLog"></div>
    <div class="refresh-modal-result" id="refreshModalResult" style="display:none"></div>
    <button class="refresh-modal-close" id="refreshModalClose" style="display:none">Done</button>
  </div>
</div>
