---
// Prompt style: 4-item grid (politeness, backtrack, questions, commands)
---
<div class="card card-wide animate delay-7">
    <div class="card-label">Prompt Style</div>
    <div class="style-grid" style="margin-top: 12px;">
        <div class="style-item">
            <div class="style-value" id="politenessValue">--</div>
            <div class="style-label">Politeness</div>
            <div class="style-detail" id="politenessDetail">please: -- · thanks: --</div>
        </div>
        <div class="style-item">
            <div class="style-value" id="backtrackValue">--</div>
            <div class="style-label">Backtrack</div>
            <div class="style-detail" id="backtrackDetail">actually: -- · wait: --</div>
        </div>
        <div class="style-item">
            <div class="style-value" id="questionsValue">--%</div>
            <div class="style-label">Questions</div>
            <div class="style-detail" id="questionsDetail">-- total</div>
        </div>
        <div class="style-item">
            <div class="style-value" id="commandsValue">--%</div>
            <div class="style-label">Commands</div>
            <div class="style-detail" id="commandsDetail">-- total</div>
        </div>
    </div>
</div>
